@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
:root {
    --gray:gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* utilities */
a {
    text-decoration: none;
    color: black;
}
ul { list-style: none;
    
}
.text-center {
    text-align: center;
}

.bigger-font {
    font-size: 3rem;
}
.bottom-line {
    border-bottom:2px solid black;
}
/* header */
nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index :1 ;
}
.main-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding :1rem 1.25rem 0 1.25rem;
    position: relative;
}


.logo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-bottom:1rem;
}
.logo a {
    display: flex;
    align-items: center;
}
.logo a img {
    width:200px;
}
.header-img{
    width:100%;

}
.nav-links,.logo,.login-nav {
    flex:1 1 0;
}
.main-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200;
}
.main-menu li {
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 100%;
}

.main-menu li a {
    padding: 1.5rem;
}
.login-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}
.login-nav ul li {
    display: inline;
    margin-left: 1.5rem;
}
.login-nav ul li a {
    font-weight: 200;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

/*Dropdown */
.sub-menu {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 1px solid var(--gray);
    margin: 0 auto;
    display: none;
}
.main-menu li:hover .sub-menu{
    display: block;
    padding: 1rem;
}
.sub-menu-container {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content:space-between;
    align-items: flex-start;
}
.sub-menu-card {
    flex: 1 1 0;
    font-size: 0.75rem;
    font-weight: 200;
    padding: 0.5rem 0;
}
.sub-menu-list li a {
    display: inline-block;
    padding:0.5rem 0.25rem;
    color: var(--gray);
}
.sub-menu-list li {
    display: block;
    padding: 0.5rem 0;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color:var(--gray);
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color:var(--gray);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
/* Showcase */

#showcase {
    width: 100%;
}
#showcase h3 {
    padding:3rem 0;
}
.new-items-showcase {
    display: flex;
    gap: 1rem;
}
.new-items-showcase img {
    width: 100%;
}

/*Category showcase */
.categories-showcase{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: stretch;
}
.leftlink {
    flex: 1 1 0;
    position: relative;
}
.rightlink {
    position:relative;
    width: 100%;
}
.overtext {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white;
}
.leftimg {
    height: 100%;
    width: 100%;
}
.right-category-img {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.right-category-img img {  
    width: 100%;
    height: 100%;
}

/* Subscribe Section */
#contact {
    margin: 1rem 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-card {
    padding: 2rem;
}
.sub-card h4 {
    font-weight: 400;
    padding-bottom:2rem;
}
form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
input[type=email]{
   border:none;
   padding:0.75rem 0;
}
input[type=email]:focus{
    outline:none;
}
button[type=submit]{
    background-color: white;
    padding: 0.5rem 0;
    float: right;
    border:none;
    cursor:pointer;
}
.checkboxline {
    margin-top:1.5rem;
    padding-left:0.25rem;
}
label{
    font-size: 0.8rem;
    font-weight: 600;
}
input[type=checkbox]{
    background-color: black;
    accent-color: black;
    transform:scale(2);
    border: none;
}

.checkboxline label {
    padding-left:1rem;
}

/* instagram feed */
#instagrammfeed {
    margin-bottom:2rem;
}
h2 {
    margin-top: 1rem;
}

.instagramm-container {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.insta-post {
    /* background-image: url(images/insta-image.jpg);
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    flex: 1 1 0;
    width: 100%;
    height:450px; */
}
.insta-post img {
    width: 100%;
}

/* footer */
#main-footer {
    border-top: 1px solid black;
}
.wrapper {
    margin:0 auto;
    padding:2.5rem 1.25rem 5.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.footer-card {
    flex:1 1 0;
    font-size:0.75rem;
    font-weight: 400;
}
.footer-link {
    padding: 0.25rem ;
}
.footer-link a {
    color: black;
}

/*item page */
.item-flex{
    display: flex;
    justify-content:flex-start;
    align-items: stretch;
    padding:0 0 2rem 0;
}
.item-photos {
    width: 65%;
    display: flex;
    flex-direction: column;

}
.item-photos img {
    width: 100%;
    flex: 1 1 0;
}
.item-info{
    width: 40%;
    min-height: 100%;
    margin-bottom: 4rem;
}

/*Item card */

.item-info-card {
    margin-top: 15rem;
    padding: 1rem;
    width: 100%;
}
.item-info-card-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-info-card-heading h2{
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.item-info-card-heading a {
    padding:0.25rem;
    cursor: pointer;
}
.item-info-card-heading i {
    background-color: white;
}
button {
    all:unset;
}
.sticky {
    position: sticky;
    top: 100px;
    right: 0;
}
.alternative-title {
    display: inline-block;
    color: var(--gray);
    padding: 0.5rem 0;
    font-weight: 200;
}
.price {
    display:inline-block;
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 3rem;
}
.sizes-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 1rem;
    font-weight: 300;
}
.size-button {
    margin-left:4rem;
    padding: 0.5rem;
    cursor: pointer;
}
.size-button:first-child{
    margin-left:1.5rem;
}
.size-button:hover{
    box-shadow: inset 0px 0px 0px 2px var(--gray);
    border-radius: 50%;
}
.add-shop {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size:1rem;
    padding:0.75rem 0;
    cursor: pointer;
}
.item-desc {
    margin:1.5rem 0;
    color: var(--gray);
    font-size: 1rem;
    font-weight: 200;
}
.item-specs {
    color: var(--gray);
    font-size: 1rem;
    font-weight: 200;
    padding:0 2.5rem 0 2rem;
}
.item-specs ul li:last-child{
    font-weight: 600;
}
.details-section {
    margin-top: 3rem;
    font-size: 0.7rem;
    font-weight: 300;
}
.details-section ul li {
    padding: 0.1rem 0;
}
.details-section ul li a{
    border-bottom: 1px solid black;
}