@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* utilities */
.base-container {
    width:90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

/* header */
.main-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
