@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* utilities */
.base-container {
    width:95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}
ul { list-style: none;
    
}
/* header */
.main-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0;
}

.nav-links ul li {
    display: inline;
    margin:0 1rem;
}

.nav-links ul li a {
    font-weight: 300;
}

.login-nav ul li {
    display: inline;
    margin-left: 0.5rem;
}
.login-nav ul li a {
    font-weight: 300;
}

.logo {
    width: 200px;
}

img {
    width:100%;
}